@import '../styles/colors';

.Article {
  .main {
    margin: 100px auto 60px;
    max-width: 860px;

    @media (max-width: 575px) {margin-top: 40px;}
  }

  h2 {
    border-bottom: 2px solid $red;
    font-size: 32px;
    margin: 0;
    padding: 0 20px 20px;

    @media (max-width: 575px) {
      font-size: 24px;
      padding: 0 10px 10px;
    }
  }

  .meta {
    font-size: 15px;
    line-height: 22px;
    padding: 15px 20px 20px;

    @media (max-width: 575px) {padding: 10px;}
  }

  .type {
    background: $red;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    float: left;
    padding: 0 4px;
    text-transform: capitalize;
  }

  .date {
    color: $red;
    float: right;
  }

  .content {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 0 20px;

    @media (max-width: 575px) {
      font-size: 16px;
      line-height: 23px;
    }
  }

  img {
    border-bottom: 1px solid $secondary;
    border-top: 1px solid $secondary;
    display: block;
    margin: 40px auto;
    max-width: 100%;
    padding: 20px;

    @media (max-width: 575px) {margin: 20px auto;}
  }

  blockquote {
    border-left: 1px solid $red;
    color: $secondary;
    font-style: italic;
    margin: 40px 60px;
    padding: 2px 40px;

    @media (max-width: 575px) {
      font-size: 14px;
      margin: 20px 0 20px 5px;
      padding: 2px 20px;
    }

    .author {color: $red;}
  }
}
