@import '../styles/colors';

.Article {
  .main {
    margin: 100px auto;
    max-width: 860px;

    @media (max-width: 575px) {margin-top: 40px;}
  }

  h2 {
    border-bottom: 2px solid $red;
    font-size: 32px;
    margin: 0;
    padding: 0 20px 20px;

    @media (max-width: 575px) {
      font-size: 24px;
      padding: 0 10px 10px;
    }
  }

  .meta {
    font-size: 15px;
    line-height: 22px;
    padding: 15px 20px 30px;

    @media (max-width: 575px) {
      font-size: 14px;
      padding: 10px;
    }

    .share {float: left;}
  }

  .share {
    a {
      display: inline-block;
      padding: 0 8px;

      @media (max-width: 565px) {
        padding: 0 8px 0 0;

        i {
          font-size: 1em;
          vertical-align: baseline;
        }
      }
    }

    @media (max-width: 565px) {
      span {display: none;}
    }
  }

  .date {
    color: $red;
    float: right;
  }

  .content {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 0 20px;

    @media (max-width: 575px) {
      font-size: 16px;
      line-height: 23px;
    }
  }

  a {
    color: $red;
    text-decoration: none;

    &:hover {text-decoration: underline;}
  }

  img {
    border-bottom: 1px solid $secondary;
    border-top: 1px solid $secondary;
    display: block;
    margin: 40px auto;
    max-width: 100%;
    padding: 20px;

    @media (max-width: 575px) {margin: 20px auto;}
  }

  blockquote {
    border-left: 1px solid $red;
    color: $secondary;
    font-style: italic;
    margin: 40px 60px;
    padding: 2px 40px;

    @media (max-width: 575px) {
      font-size: 14px;
      margin: 20px 0 20px 5px;
      padding: 2px 20px;
    }

    .author {color: $red;}
  }

  .content iframe,
  .twitter-tweet-rendered {
    border-bottom: 1px solid $secondary;
    border-top: 1px solid $secondary;
    display: block;
    margin: 40px auto !important;
    max-width: 100%;
    padding: 20px;
  }

  footer {
    border-top: 2px solid $red;
    margin-top: 60px;
    padding: 20px;

    @media (max-width: 575px) {padding: 10px;}
  }
}
