@import '../styles/colors';

.Widget {
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;

  h2 {
    border-bottom: 3px solid $red;
    font-weight: 400;
    font-size: 35px;
    display: inline-block;
    line-height: 50px;
    margin: 0 0 10px;
    padding: 0 60px 15px;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 25px;
      line-height: 35px;
      padding-bottom: 10px;
    }

    @media (max-width: 575px) {
      font-size: 20px;
      line-height: 30px;
      padding: 0 20px 15px;
    }

    strong {
      color: $red;
      font-weight: 700;
    }
  }

  .cocarde {
    border: 10px solid $red;
    border-radius: 50%;
    height: 60px;
    margin: 0 auto 15px;
    position: relative;
    width: 60px;

    @media (max-width: 767px) {
      border-width: 7px;
      height: 42px;
      margin-bottom: 10px;
      width: 42px;
    }

    @media (max-width: 575px) {
      border-width: 5px;
      height: 30px;
      width: 30px;
    }

    &::after {
      background: $blue;
      border-radius: 50%;
      content: '';
      display: block;
      height: 20px;
      left: 10px;
      position: absolute;
      top: 10px;
      width: 20px;

      @media (max-width: 767px) {
        height: 14px;
        left: 7px;
        top: 7px;
        width: 14px;
      }

      @media (max-width: 575px) {
        height: 10px;
        left: 5px;
        top: 5px;
        width: 10px;
      }
    }
  }

  .counter {
    color: $blue;
    font-size: 20px;
    opacity: 0;
    transform: translateY(-5px);
    transition: .2s;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }

    strong {font-size: 22px;}
  }

  .ct-chart {
    margin-left: calc(100% / 12 - 65px);
    width: calc(100% - (100% / 12) * 2 + 90px);

    @media (max-width: 575px) {
      margin-left: calc(100% / 12 - 45px);
      width: calc(100% - (100% / 12) * 2 + 70px);
    }
  }

  @each $name, $color in (
  a: $melenchon,
  b: $hamon,
  c: $macron,
  d: $fillon,
  e: $lepen
  ) {
    .ct-series-#{$name} {
      fill: $color;
    }
  }

  .ct-value {
    font-size: 17px;
  }

  @media (max-width: 767px) {
    .ct-value {font-size: 15px;}
    .ct-bar {stroke-width: 25px;}
  }

  @media (max-width: 575px) {
    .ct-bar {stroke-width: 20px;}
  }
}
