@import 'chartist';
@import 'normalize';
@import 'colors';

* {box-sizing: border-box;}

body {
  color: $main;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 30px;
}

a:focus {outline: 0;}

.clearfix {
  overflow: auto;
  zoom: 1;
}
